{% if pagetitle != "Welcome to Otaku-Soft" %}
<h3>Who is online</h3>
<div id ="whoisonline" class="well"></div>
{% endif %}
</div>
{% include('alertmodal.html.twig') %}
{% include('ajaxModal.html.twig') %}
{% include('rememberpassModal.html.twig') %}				
            </div>
        </div> 
    </body>  
</html>