<form id = "searchForm">
  <div class="input-group input-group-lg">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go!</button>
    </span>
    <input type="text" class="form-control" placeholder="Search for..." id = "searchContent">
  </div>
</form>
<br/>