<ul class="nav nav-tabs">
	{% for  tab in tabs %}
	<li role="presentation"  {% if (loop.index == 1 and section is not defined ) or (section is defined and section ==  tab.name) or (section is defined and section == "" and loop.index == 1) %}class = "active"{% endif %}><a href="#{{ tab.name }}" aria-controls="profile" role="tab" data-toggle="tab">{{ tab.description }} </a></li>
	{% endfor %}
</ul>
<script>

</script>