{% if friend is null %}
<button type = "button" class = "btn btn-success" style = "float:left" onclick = "friendRequest('{{ friendotakuid}}')">Add Friend</button>

{% elseif friend.status == 0 %}
<button class="btn btn-warning" >Friend Request Pending</button>
{% elseif friend.status == 1 %}
<button type = "button" class="btn btn-success" >Friend</button> <button type = "button" class="btn btn-primary" onclick = "sendprivatemessage('{{ friendotakuid}}')" >Send  Message</button>

{% endif %}
<br/><br/>