{% for user in items %}
{% if loop.index > 1 %},{% endif %}
[{{ user.id }},^^V*{% include "inlineavatar.html.twig" %}^^V*, ^^V*<a href = "javascript:friendRequest('{{ user.otakuid }}')">Add Friend</a>^^V*]
{% endfor %}

