{% for user in items %}
{% if loop.index > 1 %},{% endif %}
[{{ user.id }},^^V*{% include "inlineavatar.html.twig" %}^^V*, ^^V*<a href = "javascript:removeFriend('{{ user.friendotakuid }}')">Remove</a>^^V*]
{% endfor %}

