{% set  paginationPath = 'profiles_gettopics' %}
{% set pagination = {'otakuid': otakuid}%}
{% set ajaxContainer = 'viewprofileTopics' %}
<label>Total Topics: {{ count }}</label><br/>

{% include ("pagination.html.twig") %}
<br/>

{% for topic in topics %}
<label><a href = "{{ path('forum_intopic', {'topicid': topic.id,'title':topic.title}) }}">{{topic.title }}</a></label><br/>
{% endfor %}
