/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.starter-template {
  padding: 47px 15px;margin-top:10%;
  text-align: center;
}

.indexcontent{

  padding: 47px 15px;margin-top:300px;
  text-align: center;
  background-color:#F8F8F8 ;
}

.panel-category {
  border-color: #627296;
}
.panel-category > .panel-heading {
  color: #fff;
  background-color: #627296;
  border-color: #627296;
}
.panel-category > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #627296;
}
.panel-category > .panel-heading .badge {
  color: #627296;
  background-color: #fff;
}
.panel-category > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #627296;
}
.nospace
{
padding:0px !important;margin:0px !important;
}

body{
  background-color:#fff6f9 !important;
}




.search_nav_item
{
  padding-top:15px!important;padding-bottom:15px!important;color:#777!important;padding-left:5px!important;padding-right:5px!important;
}

.btn {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

